.chess {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #EBE8E2;
    height: 100%;
  }
  h2{
    height: 50px;
  }
  .board{
    margin-top: 35px;
  }
  .input-row {
    margin: 5px;
    text-align: center;
    height: 50px;
    width: 145px;
  }
  
  .input-row > label {
    width: 100px;
    display: inline-block;
    text-align: end;
    margin-right: 10px;
  }
  
  .input-row > input {
    width: 200px;
    box-sizing: content-box;
  }  